/*
 * -------------------------------------------------
 * config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
params {
    reads = "/users/kir-luo/ypz679/devel/NGS/data/reads/*_{1,2}.fastq.gz"
    reference = "/users/kir-luo/ypz679/devel/NGS/data/reference/Pf3D7_v3.fa.gz"
    outdir = "./results"
    single_end = false
    region = [
        [ "Pf3D7_02_v3:616190-656190", "Pf3D7_02_v3:779288-859288", "Pf3D7_11_v3:1023035-1081305" ]
    ]
    tracedir = "${params.outdir}/pipeline_info"
}

profiles {
    slurm {
        process.executor = 'slurm'
    }
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.png"
}
